body{overflow:visible}img{-ms-interpolation-mode:bicubic}pre{word-wrap:break-word}legend{margin-left:-7px}button{width:auto;overflow:visible}.clearfix,.grid-block{zoom:1}.width16{width:16.64%}.width20{width:19.97%}.width25{width:24.97%}.width33{width:33.31%}.width40{width:39.97%}.width50{width:49.97%}.width60{width:64.97%}.width66{width:66.64%}.width75{width:74.97%}.width80{width:79.97%}#header{z-index:10}.menu-dropdown a>span{cursor:pointer}.menu-dropdown li.level1:hover,
.menu-dropdown .dropdown-bg,
.menu-dropdown li.level3
.level3{zoom:1}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{zoom:1;cursor:pointer}.menu-line li,
.menu-line li
a{display:inline}#block-top-a > div > div,
#menu div.fancy div.fancy-3,
.menu-dropdown .dropdown-bg > div,
.menu-dropdown a.level2,
.menu-dropdown span.level2,
a.button-more,
form.box button,
form.short button,
form.box input[type="button"],
form.box input.button,
form.box input[type="button"],
form.box input.button,
#system .item > header time,
#searchbox .results,div.box-content,div.box-note,div.box-info,div.box-warning,div.box-hint,div.box-download{behavior:url(/~amsa/templates/yoo_quantum/warp/js/css3pie.htc)}.menu-sidebar li,
.menu-sidebar li a,
.menu-sidebar li
span{zoom:1}a.button-more,
form.box button,
form.short button,
form.box input[type="button"],
form.box input.button,
form.box input[type="button"],
form.box input.button,div.box-content,div.box-note,div.box-info,div.box-warning,div.box-hint,div.box-download{position:relative}ins,mark{background-color:#b8b76b}form.box input[type="text"],
form.short input[type="text"],
form.box input[type="password"],
form.short input[type="password"],
form.box select,
form.box
textarea{background:#fdfdfd}form.box input[type="text"]:focus,
form.short input[type="text"]:focus,
form.box input[type="password"]:focus,
form.short input[type="password"]:focus,
form.box select:focus,
form.box textarea:focus{background-color:#fff;border-color:#bbb}#block-top-a>div>div{-pie-background:linear-gradient(#fafafa, #f1f1f1)}.menu-dropdown ul.level2 li,
.menu-sidebar
li{zoom:1}#menu div.fancy div.fancy-3{box-shadow:0 0 0 1px #d8d8d8}.menu-dropdown .dropdown-bg > div,
#searchbox
.results{border:1px
solid #ccc;-pie-background:linear-gradient(#fefefe, #f3f3f3);box-shadow:none}.menu-dropdown a.level2,
.menu-dropdown
span.level2{border-top:1px solid #d7d7d7;border-bottom:1px solid #dfdfdf;-pie-background:rgba(0,0,0,0.03);box-shadow:none}.menu-dropdown .level2 a.level2:hover{padding-bottom:0px;border-top:1px solid #e3e3e3;border-bottom:1px solid #c4c4c4;-pie-background:linear-gradient(#f0f0f0, #dadada);box-shadow:none}.menu-dropdown li.current>.level2{border-top:1px solid #ddd;-pie-background:rgba(0,0,0,0.08)}.menu-sidebar{border-top:1px solid #dcdcdc;border-bottom:1px solid #fff}.menu-sidebar
li.level1{border-bottom:1px solid #dcdcdc}.menu-sidebar a.level1,
.menu-sidebar
span.level1{border-top:1px solid #fff;-pie-background:linear-gradient(#f7f7f7, #ebebeb)}.menu-sidebar .level1 .level1:hover{border-top:1px solid #fff;-pie-background:linear-gradient(#fafafa, #efefef)}.menu-sidebar .active
.level1{border-top:1px solid #f5f5f5;-pie-background:linear-gradient(#eaeaea, #dadada)}.menu-sidebar .level2 a,
.menu-sidebar .level2 li>span{border-top:1px solid #dcdcdc;-pie-background:none}.menu-sidebar .level2 a:hover,
.menu-sidebar .level2 li>span:hover{background-color:#fdfdfd}.menu-sidebar .level2 a.active,
.menu-sidebar .level2 li>span.active{border-color:#bfbfbf;background-color:#efefef}.menu-sidebar .level3 a,
.menu-sidebar .level3 li>span{border-color:#bdbdbd;background-color:#eaeaea}.menu-sidebar .level4 a,
.menu-sidebar .level4 li>span{background-color:#bababa}.mod-box{border:1px
solid #e4e4e4;background:#f5f5f5}.mod-glass{border:1px
solid #ebebeb;background:#f9f9f9}.mod-glass>div{border:1px
solid #d9d9d9;background:#fefefe}.mod-border{border:1px
solid #fff;background:#f2f2f2}.mod-border>div{border:1px
solid #bebebe;background:#eee}a.button-more,
form.box button,
form.short button,
form.box input[type="button"],
form.box
input.button{box-shadow:0 1px 0 rgba(0,0,0,0.3),
0 0 0 3px rgba(0,0,0,0.09)}a.button-more:focus,
form.box button:focus,
form.short button:focus,
form.box input[type="button"]:focus,
form.box input.button:focus{box-shadow:0 1px 0 rgba(0,0,0,0.8),
0 0 0 3px rgba(0,0,0,0.09)}ul.line>li{border-top:1px solid #ddd}table.zebra thead
th{background:#f2f2f2}table.zebra tbody
tr{background:#f8f8f8}table.zebra tfoot
tr{background:#ededed}ul.zebra>li.odd{background:#fff}table.zebra tbody
tr.odd{background:#fff}.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{border:1px
solid #e5e5e5;-pie-background:rgba(0,0,0,0.03)}div.box-info{border-color:#9fd7fa;-pie-background:rgba(81,187,255,0.2) url(/~amsa/templates/yoo_quantum/styles/light/images/tools/box_info.png) 0 0 no-repeat}div.box-warning{border-color:#f0b69b;-pie-background:rgba(228,117,63,0.2) url(/~amsa/templates/yoo_quantum/styles/light/images/tools/box_warning.png) 0 0 no-repeat}div.box-hint{border-color:#ecde79;-pie-background:rgba(228,204,36,0.2) url(/~amsa/templates/yoo_quantum/styles/light/images/tools/box_hint.png) 0 0 no-repeat}div.box-download{border-color:#d4ee8b;-pie-background:rgba(183,228,63,0.2) url(/~amsa/templates/yoo_quantum/styles/light/images/tools/box_download.png) 0 0 no-repeat}#system .item > header
time{-pie-background:linear-gradient(#555, #333);box-shadow:0 1px 0 rgba(0,0,0,0.3),
0 0 0 3px rgba(0,0,0,0.09)}#searchbox
input{line-height:30px}#searchbox.filled button,
#searchbox.loading
button{background-color:transparent;-pie-background:transparent;box-shadow:none}#searchbox .results
li.result.selected{background:#f0f0f0}#breadcrumbs{background:#f4f4f4}#system .pagination a,
#system .pagination
strong{border-top:1px solid #ddd;border-bottom:1px solid #fff;background:#f5f5f5}#system .author-box{border:1px
solid #fff;background:#fafafa}#system .author-box
.avatar{background:#dcdcdc}#system #comments .comment-head{border:1px
solid #e1e1e1;background:#fafafa}#system #comments .comment-byadmin .comment-head{border:1px
solid #cdcdcd;background:#ebebeb}.comments-list>article{border-top:1px solid #ddd}